@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic-ext')

@import mail

@mixin clear()
	&:after
		content : '.'
		display : table
		clear : both

@mixin bold()
	font-weight : 700

@mixin light()
	font-weight : 300

@mixin thin()
	font-weight : 100

*
	box-sizing : border-box

body
	padding : 0
	margin : 0
	font-family: Roboto, sans-serif
	min-width: 1280px

h1,h2,h3,h4,h5,h6
	-webkit-margin-before : 0
	-webkit-margin-after : 0
	-webkit-padding-start : 0
	font-weight : 400
	margin : 0

a 
	text-decoration : none

.bold
	font-weight: 700

.bold_din
	font-family: 'DINPro-Bold', sans-serif
.light
	font-weight: 300
.content
	width: 1280px
	padding: 0 25px
	margin: auto

nav
	background: #004a6a
	a
		text-decoration: none
		color: #fff
		font-family: Roboto, sans-serif
		padding: 10px 30px
		float: left
		font-size: 13pt
		font-weight: 700
		transition: color .3s ease
		&:hover
			text-decoration: none
			color: #c68f2a
header
	background: url(../img/background/podl.png) no-repeat center top
	height: 178px
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 2
	.number
		float: left
		margin-top: 12px
		margin-left: 17%
		div
			font-size: 15pt
			color: #fff
			font-family: 'DINPro-Light', sans-serif
		a
			color: #fff
			font-size: 12pt
			font-family: 'DINPro-Regular', sans-serif
			text-decoration: none
			border-bottom: 1px dotted #fff
			transition: color, border .3s, .3s ease, ease
			&:hover
				color: #f1f1f1
				border-bottom: 1px dotted #fff
				text-decoration: none
	img
		float: left
		margin-left: 18%
		margin-top: 8px
	.changer
		color: #fff
		float: left
		margin-top: 10px
		margin-left: 210px
		h3
			font-family: 'DINPro-Bold'
			font-size: 15pt
			padding-bottom: 3px
		a
			color: #fff
			text-decoration: none
			&:hover
				color: #fff
				text-decoration: none
		.day
			float: left
			.day_icon
				background: url(../img/sprite.png) no-repeat -1657px 0
				width: 19px
				height: 19px
				span
					margin-left: 20px
					font-family: Roboto, sans-serif
		.night
			float: left
			margin-left: 60px
			.night_icon
				background: url(../img/sprite.png) no-repeat -1675px 0
				width: 19px
				height: 19px
				float: left
				span
					margin-left: 20px
					font-family: Roboto, sans-serif
		.active span
			border-bottom: 1px dotted #fff

.section1
	height: 92vh
	position: relative
	overflow: hidden
	video
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
	img[alt="background"]
		position: absolute
		left: 50%
		top: 50%
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
		transform: translate(-50%, -50%)
	.content
		position: relative
		height: 100%
		.stock
			width: 370px
			height: 76px
			float: right
			color: #fff
			background: rgba(198, 143, 42, .65)
			border-radius: 10px
			position: relative
			padding-left: 20px
			position: absolute
			right: 0
			bottom: 252px
			h3
				font-family: 'DINPro-Bold', sans-serif
				font-size: 23pt
				font-weight: 700
				padding-top: 5px
			p
				font-family: 'DINPro-Regular', sans-serif
				font-size: 11pt
			.data
				position: absolute
				top: 0
				right: 0
				background: rgba(255, 255, 255, .9)
				padding: 5px
				font-family: 'DINPro-Bold', sans-serif
				font-size: 11pt
				color: #2f2f2f
				border-bottom-left-radius: 6px
			.bold
				color: #ddd
		.quality
			height: 170px
			background: rgba(5, 104, 146, .65)
			border-radius: 15px
			position: absolute
			bottom: 50px
			left: 0
			width: 100%
			padding-top: 15px
			.quality_elem
				width: 273px
				margin-left: 38px
				float: left
				h3
					color: #fff
					font-family: Roboto, sans-serif
					font-weight: 700
					font-size: 15pt
					padding-top: 5px
				p
					color: #fff
					font-family: Roboto, sans-serif
					font-size: 12pt
				.quality_icon_1
					margin: auto
					background: url(../img/sprite.png) no-repeat -1415px 0
					width: 67px
					height: 50px
				.quality_icon_2
					margin: auto
					background: url(../img/sprite.png) no-repeat -1546px 0
					width: 58px
					height: 50px
				.quality_icon_3
					margin: auto
					background: url(../img/sprite.png) no-repeat -1601px 0
					width: 57px
					height: 50px
				.quality_icon_4
					margin: auto
					background: url(../img/sprite.png) no-repeat -1360px 0
					width: 57px
					height: 50px

.section2
	position: relative
	height: 881px
	overflow: hidden
	.content
		position: relative
	video
		position: absolute
		top: 0
		left: 50%
		transform: translate(-50%, 0)
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
	.wrapper
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background: url(../img/background/pattern.png) repeat
		opacity: .7
	.button
		width: 500px
		border: 3px solid #c68f2a
		border-radius: 15px
		position: absolute
		top: 30%
		left: 50%
		transform: translate(-50%, -50%) scale(1)
		padding: 15px 15px 17px 25px
		cursor: pointer
		transition: transform .3s ease
		&:hover
			transform: translate(-50%, -50%) scale(1.1)
		.header_button
			color: #fff
			text-transform: uppercase
			font-weight: 700
			font-family: Roboto, sans-serif
			font-size: 25pt
			padding-top: 10px
			margin-left: 15px
			float: left
		.icon_play
			background: url(../img/sprite.png) no-repeat -1778px 0
			width: 68px
			height: 68px
			float: left
	.trigger
		padding: 30px 0
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		background: rgba(22, 132, 195, .65)
		.trigger_text
			width: 600px
			float: left
			h2
				font-size: 31pt
				color: #fff
				font-family: Roboto, sans-serif
				font-weight: 700
			p
				color: #fff
				font-family: Roboto, sans-serif
				font-size: 14pt
				margin: 25px 0
				line-height: 1.3
		form
			float: right
			width: 570px
			h3
				color: #fff
				font-size: 22pt
				font-weight: 700
				padding-bottom: 10px
			label
				display: block
				span
					display: block
					font-size: 11pt
					color: #fff
					font-family: Roboto, sans-serif
					padding: 5px 0
				input
					background: rgba(255, 255, 255, .45)
					border: 1px solid #fff
					border-radius: 5px
					outline: 0
					padding: 9px 20px
					font-size: 15pt
					color: rgba(255, 255, 255, .5)
					width: 100%
				.first_input
					width: 70px
					margin-right: 10px
				.second_input
					width: 80px
					margin-right: 10px
				.third_input
					width: 392px
			button
				background: #c68f2a
				color: #fff
				text-transform: uppercase
				width: 100%
				border: 0
				font-weight: 700
				font-size: 22pt
				border-radius: 5px
				margin-top: 20px
				cursor: pointer
				padding: 4px 0
				transition: background .3s ease
				&:hover
					background: #e2a331

.header
	padding-top: 40px
	padding-bottom: 40px
	.content
		text-align: center
		font-family: Roboto, sans-serif
		color: #181818
		h3
			font-size: 40pt
			font-weight: 700
		h5
			font-size: 18pt
			font-weight: 700
.interactive
	background: url(../img/background/inter.jpg) no-repeat top center
	height: 1200px
	.content
		position: relative
		.choice
			position: relative
			background: #168db4
			border-radius: 9px
			width: 260px
			left: 609px
			top: 50px
			h3
				font-family: Roboto, sans-serif
				color: #fff
				font-size: 14pt
				float: right
				margin-right: 25px
				margin-top: 3px
			.trangle
				position: absolute
				bottom: -22px
				left: 50%
				width: 5px
				border: 10px solid transparent
				border-top: 12px solid #168db4
			.icon_choice
				background: url(../img/sprite.png) no-repeat -1846px 0
				height: 33px
				width: 33px
				float: left
				margin-left: -10px
		.pano
			width: 250px
			padding: 20px
			background: #168db4
			font-family: Roboto, sans-serif
			color: #fff
			position: absolute
			top: 560px
			left: 42%
			transform: scale(1)
			cursor: pointer
			opacity: .8
			transition: all .3s ease
			&:hover
				background: #4ab2d4
				transform: scale(1.05)
				opacity: 1
			h3
				font-weight: 700
				font-size: 15pt
				text-transform: uppercase
			h4
				font-weight: 700
				font-size: 10pt
				text-transform: uppercase
			.icon_pano
				background: url(../img/sprite.png) no-repeat -1481px 0
				width: 65px
				height: 40px
				float: left
				margin-right: 11px
		.photo_choose
			width: 54px
			height: 54px
			background: url(../img/sprite.png) no-repeat -1306px 0
			cursor: pointer
			position: absolute
			&:hover
				background: url(../img/sprite.png) no-repeat -1253px 0
		.photo_choose_1
			top: 170px
			left: 107px
		.photo_choose_2
			top: 115px
			left: 507px
		.photo_choose_3
			top: 182px
			right: 125px
		.photo_choose_4
			top: 572px
			left: 77px
		.photo_choose_5
			top: 572px
			right: 77px
		.photo_choose_6
			top: 961px
			left: 120px
		.photo_choose_7
			top: 970px
			right: 110px 
		.photo_choose_8
			top: 1030px
			left: 695px
		.plan_elem
			position: absolute
			img
				transition: opacity .3s ease
				position: absolute
			polygon
				cursor: pointer
		polygon
			fill: rgba(0, 0, 0, 0)
		.plan_box_1
			top: 205px
			left: 394px
			svg
				height: 192px
		.plan_box_2
			top: 219px
			left: 147px
			svg
				height: 240px
				width: 245px
		.plan_box_3
			top: 494px
			left: 93px
			transform: rotate(-90deg)
			svg
				height: 192px
		.plan_box_4
			top: 740px
			left: 130px
			overflow: hidden
			svg
				height: 242px
				transform: rotate(-90deg)
				margin-top: -26px
		.plan_box_5
			top: 737px
			left: 581px
			transform: rotate(180deg)
			svg
				height: 242px
		.plan_box_6
			top: 736px
			left: 878px
			transform: rotate(180deg)
			overflow: hidden
			svg
				height: 242px
				margin-right: -54px
		.plan_box_7
			top: 460px
			left: 884px
			transform: rotate(90deg)
			svg
				height: 242px
				margin-right: -54px
		.plan_box_8
			top: 214px
			left: 870px
			transform: rotate(90deg)
			overflow: hidden
			svg
				height: 242px
				margin-right: -54px

		.img_box_1
			top: 192px
			left: 394px
		.img_box_2
			top: 245px
			left: 210px
		.img_box_3
			top: 738px
			left: 130px
			transform: rotate(-90deg)
		.img_box_4
			top: 922px
			left: 185px
			transform: rotate(-90deg)
		.img_box_5
			top: 995px
			left: 878px
			transform: rotate(180deg)
		.img_box_6
			top: 954px
			left: 1060px
			transform: rotate(180deg)
		.img_box_7
			top: 461px
			left: 1144px
			transform: rotate(90deg)
		.img_box_8
			top: 276px
			left: 1092px
			transform: rotate(90deg)

		.img_box_1 *:first-child
			top: 42px
			left: 0px
		.img_box_1 *:nth-child(2)
			top: 11px
			left: 32px
		.img_box_1 *:nth-child(3)
			top: 11px
			left: 137px
			transform: scaleX(-1)
		.img_box_1 *:nth-child(4)
			top: 41px
			left: 161px
			transform: scaleX(-1)

		.img_box_2 *:first-child
			top: 3px
			left: 97px
		.img_box_2 *:nth-child(2)
			top: -11px
			left: 33px
		.img_box_2 *:nth-child(3)
			top: 14px
			left: -17px
		.img_box_2 *:nth-child(4)
			top: 80px
			left: -45px
			transform: scaleY(-1) rotate(-90deg)
		.img_box_2 *:nth-child(5)
			top: 113px
			transform: scaleX(-1) rotate(90deg)
		.img_box_8 *:nth-child(4)
			top: 105px
			left: -8px
			transform: scaleY(-1) rotate(-90deg)
		.img_box_8 *:nth-child(3)
			top: 38px
			left: -53px
			transform: rotate(-90deg)

.map
	height: 830px
	width: 100%
	position: relative
	overflow-y: hidden
	#map_canvas
		height: 105%
		width: 100%
	.map_contact
		position: absolute
		top: 0
		left: 0
		padding: 30px
		background: rgba(5, 104, 146, .8)
		color: #fff
		width: 420px
		margin: 120px 100px
		h2
			font-family: Roboto, sans-serif
			font-size: 25pt
		.line
			height: 5px
			width: 240px
			border-radius: 5px
			background: #fff
			margin-bottom: 20px
		p
			font-family: Roboto, sans-serif
			font-size: 11pt
			margin-bottom: 25px
		h3
			color: #ecce98
			font-size: 15pt
			font-family: Roboto, sans-serif
			font-weight: 700
			margin-bottom: 20px
		ul
			list-style-type: none
			li
				margin-bottom: 10px
				span
					border-bottom: 1px dotted #fff
					transition: color .3s ease
					cursor: pointer
					&:hover
						color: #ecce98

.section3
	background: url(../img/background/white.jpg) no-repeat top center
	.content
		padding: 25px 25px
		.qual_elem
			width: 380px
			text-align: center
			float: left
			margin: 40px 15px 40px 15px
			.icon_qual_1
				background: url(../img/sprite.png) no-repeat 0 0
				width: 125px
				height: 90px
				margin: auto
			.icon_qual_2
				background: url(../img/sprite.png) no-repeat -128px 0
				width: 125px
				height: 90px
				margin: auto
			.icon_qual_3
				background: url(../img/sprite.png) no-repeat -256px 0
				width: 125px
				height: 90px
				margin: auto
			.icon_qual_4
				background: url(../img/sprite.png) no-repeat -384px 0
				width: 125px
				height: 90px
				margin: auto
			.icon_qual_5
				background: url(../img/sprite.png) no-repeat -509px 0
				width: 125px
				height: 90px
				margin: auto
			.icon_qual_6
				background: url(../img/sprite.png) no-repeat -636px 0
				width: 125px
				height: 90px
				margin: auto
			h3
				color: #2e2e2e
				font-family: Roboto, sans-serif
				font-size: 12pt
				padding-top: 10px

.section4
	background: url(../img/background/blue.jpg) no-repeat center top
	padding-bottom: 25px
	.content
		h2
			padding-top: 20px
			color: #4b4b4b
			font-family: Roboto, sans-serif
			font-size: 45pt
			font-weight: 700
			text-align: center
			padding-bottom: 15px
		p
			width: 665px
			color: #004e6f
			font-family: Roboto, sans-serif
			font-size: 14pt
			margin-left: 245px
			padding-bottom: 20px
			line-height: 1.3
		.button
			padding: 10px 25px
			border: 2px solid rgba(198,143,42,.8)
			border-radius: 15px
			display: block
			margin: auto
			width: 360px
			text-align: center
			text-transform: uppercase
			font-size: 19pt
			color: #fff
		.quality
			padding-top: 145px
			padding-bottom: 25px
			.box_quality
				background: rgba(198, 143, 42, .8)
				width: 270px
				border-radius: 15px
				padding: 15px 0px 20px 30px
				position: relative
				overflow: hidden
				float: left
				margin-left: 30px
				.triangle
					position: absolute
					top: -44px
					right: -15px
					border: 100px solid transparent
					border-top: 100px solid rgba(206, 161, 75, .5)
					border-right: 100px solid rgba(206, 161, 75, .5)
					transform: rotate(-22deg)
				.icon_box_1
					background: url(../img/sprite.png) no-repeat -762px 0
					width: 52px
					height: 53px
				.icon_box_2
					background: url(../img/sprite.png) no-repeat -823px 0
					width: 52px
					height: 53px
				.icon_box_3
					background: url(../img/sprite.png) no-repeat -877px 0
					width: 58px
					height: 53px
				.icon_box_4
					background: url(../img/sprite.png) no-repeat -935px 0
					width: 59px
					height: 53px
				h3
					line-height: 1
					padding-top: 10px
					.bold
						font-family: Roboto, sans-serif
						color: #2e2e2e
						font-size: 24pt
					.light
						color: #fff
						font-family: Roboto, sans-serif
						font-size: 24pt
.section5
	background: url(../img/background/woman.jpg) no-repeat top center
	.content
		padding-bottom: 60px
		form
			float: left
			width: 570px
			h3
				color: #2c2d2d
				font-size: 22pt
				font-weight: 700
				padding-bottom: 10px
				padding-top: 20px
				text-transform: uppercase
				text-align: center
				font-family: Roboto, sans-serif
			label
				display: block
				span
					display: block
					font-size: 11pt
					color: #2c2d2d
					font-family: Roboto, sans-serif
					padding: 5px 0
				input
					background: rgba(22, 135, 195, .4)
					border: 1px solid #fff
					border-radius: 5px
					outline: 0
					padding: 9px 20px
					font-size: 15pt
					color: rgba(255, 255, 255, .8)
					width: 100%
				.first_input
					width: 70px
					margin-right: 10px
				.second_input
					width: 80px
					margin-right: 10px
				.third_input
					width: 392px
			button
				background: #1684c3
				color: #fff
				text-transform: uppercase
				width: 100%
				border: 0
				cursor: pointer
				font-weight: 700
				font-size: 22pt
				border-radius: 5px
				margin-top: 20px
				padding: 4px 0
				transition: background .3s ease
				&:hover
					background: #1b94da
.section6
	background: url(../img/background/card.jpg) no-repeat top center
	.content
		position: relative
		h3
			font-family: Roboto, sans-serif
			font-size: 24pt
			color: #fff
			padding-top: 35px
			text-transform: uppercase
			padding-bottom: 40px
		.footer
			font-weight: 700
			font-size: 32pt
			text-align: center
			padding-top: 0
			padding-bottom: 25px
		p
			font-size: 19pt
			color: #fff
			font-family: Roboto, sans-serif
			line-height: 1.3
			padding-bottom: 20px
			padding-left: 119px
		img
			position: absolute
			top: 90px
			right: 50px
		.price_block
			width: 900px
			.price_elem
				width: 240px
				float: left
				margin: 0 30px
				h3
					text-transform: none
				.icon_price_1
					background: url(../img/sprite.png) no-repeat -993px 0
					width: 84px
					height: 80px
					margin: auto
				.icon_price_2
					background: url(../img/sprite.png) no-repeat -1080px 0
					width: 84px
					height: 80px
					margin: auto
				.icon_price_3
					background: url(../img/sprite.png) no-repeat -1169px 0
					width: 84px
					height: 80px
					margin: auto
				h3
					font-weight: 700
					font-size: 26pt
					padding-bottom: 30px
					text-shadow: 2px 2px 1px rgba(69, 69, 69, .5)
					padding-top: 20px
					text-align: center
					line-height: 0.8
					span
						font-size: 15pt
						padding-bottom: 0
						padding-top: 0
.main_map
	height: 415px
	width: 100%
	overflow-y: hidden
	#map_canvas_main
		height: 480px
		width: 100%
footer
	background: url(../img/background/element.png) no-repeat top center, #056892
	padding-top: 30px
	padding-bottom: 14px
	position: relative
	.content
		color: #fff
		z-index: 2
		position: relative
		.contacts
			width: 500px
			float: left
			h3
				font-family: Roboto, sans-serif
				font-size: 15pt
				font-weight: 700
				padding-bottom: 1px
			p
				font-family: Roboto, sans-serif
				font-size: 11pt
				font-weight: 300
				line-height: 1.6
			.work
				float: left
				padding-bottom: 35px
				padding-left: 30px
			.price
				padding-bottom: 35px
				margin-left: 50px
				float: left
				margin-right: 85px
			.adress
				padding-bottom: 15px
				padding-left: 30px
			.copyright
				padding-bottom: 60px
				padding-left: 30px
		form
			float: right
			width: 270px
			h3
				font-weight: 700
				font-size: 15pt
				padding-bottom: 12px
			span
				display: block
				padding-bottom: 5px
			input
				margin-bottom: 5px
				height: 35px
				width: 260px
				color: #0f0f0f
				padding: 5px
			textarea
				max-width: 260px
				width: 260px
				height: 55px
				color: #0f0f0f
				padding: 5px
			button
				float: right
				margin-right: 10px
				margin-top: 15px
				background: none
				border: 3px solid #fff
				outline: 0
				padding: 5px
				width: 130px
				color: #fff
				cursor: pointer
				text-transform: uppercase
				font-family: Roboto, sans-serif
				font-size: 12pt
				font-weight: 700
				transition: all .3s ease
				&:hover
					background: #fff
					color: #3a3a3a
.choice_image_block
	position: fixed
	top: 0
	left: 0
	background: rgba(0, 0, 0, .5)
	z-index: 5
	width: 100%
	height: 100%
	opacity: 1
	transition: opacity .3s ease
	.wrapper_for_center
		width: 900px
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%, 0%)
		img
			width: 100%
	.wrapper_for_closer
		float: right
		top: 20px
		right: -15px
		background: #fff
		width: 35px
		height: 35px
		position: relative
		cursor: pointer
		transform: scale(1)
		transition: transform .3s ease
		&:hover
			transform: scale(1.2)
		.image_closer
			background: url(../img/sprite.png) no-repeat -1693px 0
			width: 30px
			height: 30px
			position: absolute
			top: 50%
			left: 50%
			-webkit-transform: translate(-50%, -50%)
			-moz-transform: translate(-50%, -50%)
			-ms-transform: translate(-50%, -50%)
			-o-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
.plan_block
	background: rgba(0, 0, 0, .5)
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 5
	transition: opacity .3s ease
	.modal_plan_block
		width: 830px
		background: #fff
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		.closer
			background: url(../img/sprite.png) no-repeat -1693px 0
			width: 30px
			height: 30px
			margin-top: 15px
			margin-right: 15px
			position: absolute
			top: 0
			right: 0
			cursor: pointer
		.wrapper_image_plan
			height: 581px
			img
				margin-top: 90px
				margin-bottom: 30px
				margin-left: 20px
				max-height: 457px
				height: auto
				max-width: 471px
				width: auto
		.info_box
			width: 315px
			background: #f1f1f1
			float: left
			height: 581px
			padding-top: 35px
			padding-bottom: 45px
			.line
				background: #d1d1d1
				height: 1px
				width: 315px
				margin-top: 35px
				margin-bottom: 35px
			h3
				font-size: 22pt
				color: #393939
				text-align: center
				padding-bottom: 35px
				font-weight: bold
			p
				padding-left: 50px
				font-weight: 300
				font-size: 15pt
			.first
				margin-top: 25px
				margin-bottom: 25px
				&:hover
					.clear
						background: #056892
					.icon_pdf
						background: url(../img/sprite.png) no-repeat -1751px 0
					span
						color: #fff
				.clear
					border: 4px solid #056892
					width: 260px
					padding: 7px
					margin: auto
					margin-top: 30px
					transition: background .3s ease
				.icon_pdf
					width: 24px
					height: 29px
					background: url(../img/sprite.png) no-repeat -1724px 0
					float: left
				span
					color: #056892
					font-size: 13pt
					font-weight: 700
					margin-top: 6px
					float: left
					padding-left: 5px
					text-transform: uppercase
					transition: color .3s ease
			.second
				margin-top: 25px
				margin-bottom: 25px
				&:hover
					.clear
						background: #056892
					.icon_pdf
						background: url(../img/sprite.png) no-repeat -1751px 0
					span
						color: #fff
				.clear
					border: 4px solid #056892
					width: 260px
					padding: 7px
					margin: auto
					margin-top: 30px
					transition: background .3s ease
				.icon_pdf
					width: 24px
					height: 29px
					background: url(../img/sprite.png) no-repeat -1724px 0
					float: left
				span
					color: #056892
					font-size: 11pt
					font-weight: 700
					margin-top: 7px
					float: left
					padding-left: 5px
					text-transform: uppercase
					transition: color .3s ease
.pano_wrap
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	background: rgba(0, 0, 0, .5)
	z-index: 5
	transition: opacity .3s ease
	.wrap_window
		width: 1000px
		height: 563px
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		iframe
			width: 1000px
			height: 563px
	.wrapper_for_closer
		float: right
		top: 20px
		right: -15px
		background: #fff
		width: 35px
		height: 35px
		position: relative
		cursor: pointer
		transform: scale(1)
		transition: transform .3s ease
		&:hover
			transform: scale(1.2)
		.image_closer
			background: url(../img/sprite.png) no-repeat -1693px 0
			width: 30px
			height: 30px
			position: absolute
			top: 50%
			left: 50%
			-webkit-transform: translate(-50%, -50%)
			-moz-transform: translate(-50%, -50%)
			-ms-transform: translate(-50%, -50%)
			-o-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
#float_menu
	position: fixed
	left: 0
	z-index: 4
	width: 100%
	transition: top .3s ease
	a
		padding: 25px 25px
		font-size: 13pt

.closed_menu
	top: -100%
.opened_menu
	top: 0